/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise";
@import "grams";

body {
	background-color: #eaeaea;
	font-family: "Josefin Sans", sans-serif;
}

.navbar {
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	color: #4aa6e8;
	font-size: 25px;
	font-family: Pacifico, cursive;
	padding-top: 10px;
}

.alert {
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.box {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 0.25rem;
	padding: 15px;
}

.img-responsive {
	width: 100%;
}

.has-error {
	background-color: #ffeeee;
	border-radius: 3px;
	padding: 0 3px;
}

.help-block {
	text-transform: uppercase;
}